/* Main */



@font-face { 
	font-family: "founders-light"; 
	src: url('../fonts/FoundersGrotesk-Light.otf'); 
}
@font-face { 
	font-family: "founders-reg"; 
	src: url('../fonts/FoundersGrotesk-Regular.otf'); 
}
@font-face { 
	font-family: "founders-reg-italic"; 
	src: url('../fonts/FoundersGrotesk-RegularItalic.otf'); 
}
@font-face { 
	font-family: "founders-med"; 
	src: url('../fonts/FoundersGrotesk-Medium.otf'); 
}
@font-face { 
	font-family: "founders-med-italic"; 
	src: url('../fonts/FoundersGrotesk-MediumItalic.otf'); 
}

body{
	background-image: url('../img/paper.png');
	background-repeat: repeat;
	font-family: "founders-reg", helvetica, sans-serif;
	height: 100%;
	color: #231F20;
}

h1{
	font-family: Courier, serif;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 2px;
	width: 500px;
	margin: 44px auto 0;
	padding: 3px;
	border: 2px solid #2B5166;
	background-color: #eeefee;
}

h2{
	font-family: Courier, serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	margin: 0;
}

h3{
	font-family: Courier, serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	color: #F7F7F8;
	margin: 0;
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

h4{
	font-family: "founders-med", helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
}

h5{
	font-family: Courier, serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0;
	color: #231F20;
}

p{
	font-size: 14px;
	line-height: 1.9;
}

a{
	color: #2B5166;
}
a:hover{
	text-decoration: none;
	color: #2B5166;
}

.container-fluid{
	padding: 0;
}

.row{
	margin: 0;
	padding: 0;
}

.col-md-10{
	padding: 0;
}

hr{
	border-top: 3px solid #2B5166;
	width: 100%;
	margin: 100px 0 0 0;
}

.grey{
	background-color: #F7F7F8;
}


/* Landing Page */



.landing-panel{
	width: 100%;
	height: 100vh;
	background-color: #2B5166;
	text-align: center;
}

.landing-panel div img{
	width: 200px;
	height: 200px;
	margin-top: 250px;
	display: inline-block;
	margin-bottom: 140px;
}

.landing-panel div a{
	padding: 4px 6px;
	font-size: 16px;
	font-family: Courier, sans-serif;
	text-transform: uppercase;
	background-color: #2B5166;
	color: #EEEFEE;
	border: 1px solid #EEEFEE;
	margin: 0 30px;

}
.landing-panel div a:hover{
	background-color: #EEEFEE;
	color: #2B5166;
}

.landing-panel div br{
	display: none;
}

@media (max-width: 750px){
	.landing-panel div br{
		display: initial;
	}

	.landing-panel div img{
		margin-bottom: 205px;
	}
}



/* Survival Guide */



.header{
	text-align: center;
	height: 120px;
	background-image: url('../img/lines.svg');
	background-repeat: no-repeat;
	background-size: 1500px 200px;
	border-bottom: 1px solid #2B5166;
}

.sidebar.stuck{
	position: fixed;
	top: 0;
	right: initial;
}

.sidebar{
	width: 200px;
	height: 800px;
	text-align: center;
	background-color: #EEEFEE;
	border-right: 1px solid #2B5166;
}

.sidebar a img{
	width: 100px;
	margin: 30px auto 30px;
}

.sidebar h2{
	margin-bottom: 50px;
	font-size: 18px;
}

.sidebar a h5{
	margin: 20px 0;
	padding: 4px; 
	background-color: #eeefee;
	border: 1px solid #2B5166;
}
.sidebar a h5:hover{
	background-color: #2B5166;
	color: #EEEFEE;
}

.tab{
	background-color: #2B5166;
	width: 200px;
	height: 40px;
	margin: 79px -120px -120px 0;
	padding: 12px 0px 0px 40px;
	float: right;
	border-radius: 50px 0 0 0;
}

.sticky-wrapper{
	height: 0 !important;
}

.stuck{
	position: fixed;
	top: 0;
	right: 40px;
}

.column-content{
	padding: 100px 100px;
}

.column-content h2{
	margin-bottom: 30px;
}

.column-content h4{
	margin-bottom: 10px;
}

.column-content p{
	margin-bottom: 30px;
}

.column-content p:last-child{
	margin-bottom: 0;
}


/* Survival Guide Media Queries */


@media (max-width: 1140px){

	.two-col-row{
		width: 100%;
	}

	.two-column{
		margin: 125px 0 0;
		padding: 0 20%;
		width: auto;
	}
}

@media (max-width: 992px){

	.header div a {
		margin-top: -9px;
	}

	.two-column{
		padding: 0 20%;
	}
}

@media (max-width: 800px){
	.header div a{
		float: none;
	}

	.header div a img{
		width: 75px;
		height: 75px;
	}

	.header div h1{
		margin-top: 0;
	}
}

@media (max-width: 600px){
	.two-column{
		padding: 0 10%;
	}
}

@media (max-width: 530px){
	.header div h1{
		width: 250px;
		margin-top: 16px;
	}
}














